/**
 * Copyright © VNG Realisatie 2023
 * Licensed under the EUPL
 */

@use "../theme";

.modal {
    $self: &;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;

    &--closing {
        animation-name: fadeOut;
        animation-duration: 150ms;
        animation-timing-function: ease;

        #{self}__content {
            animation-name: zoomOut;
            animation-duration: 150ms;
            animation-timing-function: ease;
        }
    }

    &__underlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__content {
        margin-top: 8rem;
        width: 100%;
        max-width: 960px;
        background-color: theme.$colorBackgroundAlt;
        animation-name: zoomIn;
        animation-duration: 150ms;
        animation-timing-function: ease;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }

    &__header {
        display: flex;
        padding: theme.$spacing05 theme.$spacing05 theme.$spacing07 theme.$spacing07;
        justify-content: space-between;
        width: 100%;

        &__title {
            padding: theme.$spacing03 0;
            margin: 0 theme.$spacing05 0 0;
        }

        &__close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: theme.$spacing03;
            min-width: 2.25rem;
            min-height: 2.25rem;
            border: none;
            margin-left: auto;
            vertical-align: middle;
            font-size: theme.$fontSizeMedium;
            font-weight: theme.$fontWeightSemiBold;
            line-height: theme.$lineHeightText;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
            color: theme.$colorPaletteGray400;
        }

        &__close-icon {
            width: 32px;
            height: 32px;
        }
    }

    &__body {
        padding: 0 theme.$spacing07 theme.$spacing07;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: theme.$spacing07;

        & > button {
            margin-left: theme.$spacing05;
        }
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes zoomIn {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

@keyframes zoomOut {
    0% {transform: scale(1);}
    100% {transform: scale(0.9);}
}
