<!--
 Copyright © VNG Realisatie 2022
 Licensed under the EUPL
-->

<html>
  <head>
    <title>Sites {{.EnvironmentSubdomain}}</title>
  </head>
  <body>
    <h1>Directory</h1>
    <ul>
      <li>
          <a href="https://certportal.{{.EnvironmentSubdomain}}.nlx.io">Certportal</a>
      </li>
      <li>
          <a href="https://directory.{{.EnvironmentSubdomain}}.nlx.io">Directory</a>
      </li>
      <li>
          <a href="https://docs.{{.EnvironmentSubdomain}}.nlx.io">Docs</a>
      </li>
    </ul>

    <h1>Gemeente Stijns</h1>
    <ul>
      <li>
          <a href="https://controller.{{.EnvironmentSubdomain}}.gemeentestijns.nl">NLX Controller</a>
      </li>
    </ul>

    <h1>Gemeente Riemer</h1>
    <ul>
        <li>
            <a href="https://controller.{{.EnvironmentSubdomain}}.gemeenteriemer.nl">NLX Controller</a>
        </li>
    </ul>

    <h1>Rijksdienst voor Realistische Demo's</h1>
    <ul>
      <li>
        <a href="https://controller.{{.EnvironmentSubdomain}}.rvrd.nl">NLX Controller</a>
      </li>
    </ul>

    <h1>Vergunningsoftware BV</h1>
    <ul>
      <li>
          <a href="https://controller.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">NLX Controller</a>
      </li>
      <li>
          <a href="https://parkeerrechten-admin-fsc.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">Parkeerrechten admin</a>
      </li>
    </ul>
  </body>
</html>
