<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

{{ define "content" }}
    <div class="contracts-page">
        <div class="contracts-page__actions-bar">
            <form
                action="/contracts"
                method="get"
                hx-get="/contracts"
                hx-params="*"
                hx-push-url="true"
                hx-trigger="change"
                hx-target="body"
                hx-indicator=".contracts-page"
            >
                <div class="select">
                    <select name="grant_type" id="grant_type">
                        <option value="">{{ i18n "All Grant Types" }}</option>

                        {{ range $value, $label := .GrantTypeFilters }}
                            <option
                                value="{{ $value }}"
                                {{ if (eq $value $.GrantType) }}
                                    selected
                                {{ end }}
                            >
                                {{ $label }}
                            </option>
                        {{ end }}
                    </select>
                </div>
            </form>

            <a href="/contracts/add" class="button--primary">
                {{ svg "icon-plus" "icon--inline" }}
                {{ i18n "Add contract" }}
            </a>
        </div>

        <div class="contracts-page__loaded-content">
            {{ if eq (len .Contracts) 0 }}
                <div class="contracts-page__no-results">
                    {{ i18n "No contracts available" }}
                </div>
            {{ end }}

            {{ range $contract := .Contracts }}
                <h3>
                    {{ if .IsActive }}
                        {{ svg "icon-state-active" "icon--inline" }}
                    {{ else }}
                        {{ svg "icon-state-inactive" "icon--inline" }}
                    {{ end }}

                    {{ i18n "Contract" }}
                    {{ $contract.ID }}
                    <a
                        href="/contract-modal/{{ $contract.Hash }}"
                        hx-get="/contract-modal/{{ $contract.Hash }}"
                        hx-target="body"
                        hx-swap="beforeend"
                        hx-trigger="click"
                    >
                        {{ svg "icon-search-line" "icon--inline" }}
                    </a>
                </h3>

                {{ if $contract.PeerRegistrationGrant }}
                    <table class="contracts-page__grants-table">
                        <thead>
                            <tr>
                                <th>{{ i18n "Grant Type" }}</th>
                                <th>{{ i18n "Peer" }}</th>
                                <th>{{ i18n "Directory" }}</th>
                                <th>{{ i18n "Created At" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ i18n "Peer Registration" }}</td>
                                <td>
                                    {{ .PeerRegistrationGrant.PeerName }}
                                </td>
                                <td>
                                    {{ .PeerRegistrationGrant.DirectoryPeerID }}
                                </td>
                                <td>{{ .CreatedAt }}</td>
                            </tr>
                        </tbody>
                    </table>
                {{ end }}

                {{ if gt (len $contract.ServicePublicationGrants) 0 }}
                    <table class="contracts-page__grants-table">
                        <thead>
                            <tr>
                                <th>{{ i18n "Grant Type" }}</th>
                                <th>{{ i18n "Directory" }}</th>
                                <th>{{ i18n "Service Peer ID" }}</th>
                                <th>{{ i18n "Service Name" }}</th>
                                <th>{{ i18n "Created At" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $contract.ServicePublicationGrants }}
                                <tr>
                                    <td>{{ i18n "Service Publication" }}</td>
                                    <td>{{ .DirectoryPeerID }}</td>
                                    <td>{{ .ServicePeerID }}</td>
                                    <td>{{ .ServiceName }}</td>
                                    <td>{{ $contract.CreatedAt }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                {{ end }}

                {{ if gt (len $contract.ServiceConnectionGrants) 0 }}
                    <table class="contracts-page__grants-table">
                        <thead>
                            <tr>
                                <th>{{ i18n "Grant Type" }}</th>
                                <th>{{ i18n "Service Peer ID" }}</th>
                                <th>{{ i18n "Service Name" }}</th>
                                <th>{{ i18n "Outway Peer ID" }}</th>
                                <th>
                                    {{ i18n "Outway Certificate Thumbprint" }}
                                </th>
                                <th>{{ i18n "Created At" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $contract.ServiceConnectionGrants }}
                                <tr>
                                    <td>{{ i18n "Service Connection" }}</td>
                                    <td>{{ .ServicePeerID }}</td>
                                    <td>{{ .ServiceName }}</td>
                                    <td>{{ .OutwayPeerID }}</td>
                                    <td>{{ .OutwayCertificateThumbprint }}</td>
                                    <td>{{ $contract.CreatedAt }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                {{ end }}

                {{ if gt (len $contract.DelegatedServicePublicationGrants) 0 }}
                    <table class="contracts-page__grants-table">
                        <thead>
                            <tr>
                                <th>{{ i18n "Grant Type" }}</th>
                                <th>{{ i18n "Directory" }}</th>
                                <th>{{ i18n "Delegator" }}</th>
                                <th>{{ i18n "Service Peer ID" }}</th>
                                <th>{{ i18n "Service Name" }}</th>
                                <th>{{ i18n "Created At" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $contract.DelegatedServicePublicationGrants }}
                                <tr>
                                    <td>
                                        {{ i18n "Delegated Service Publication" }}
                                    </td>
                                    <td>{{ .DirectoryPeerID }}</td>
                                    <td>{{ .DelegatorPeerID }}</td>
                                    <td>{{ .ServicePeerID }}</td>
                                    <td>{{ .ServiceName }}</td>
                                    <td>{{ $contract.CreatedAt }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                {{ end }}

                {{ if gt (len $contract.DelegatedServiceConnectionGrants) 0 }}
                    <table class="contracts-page__grants-table">
                        <thead>
                            <tr>
                                <th>{{ i18n "Grant Type" }}</th>
                                <th>{{ i18n "Service Peer ID" }}</th>
                                <th>{{ i18n "Service Name" }}</th>
                                <th>{{ i18n "Outway Peer ID" }}</th>
                                <th>
                                    {{ i18n "Outway Certificate Thumbprint" }}
                                </th>
                                <th>{{ i18n "Created At" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $contract.DelegatedServiceConnectionGrants }}
                                <tr>
                                    <td>
                                        {{ i18n "Delegated Service Connection" }}
                                    </td>
                                    <td>{{ .ServicePeerID }}</td>
                                    <td>{{ .ServiceName }}</td>
                                    <td>{{ .OutwayPeerID }}</td>
                                    <td>{{ .OutwayCertificateThumbprint }}</td>
                                    <td>{{ $contract.CreatedAt }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                {{ end }}


                <br />
            {{ end }}
        </div>

        <p
            class="contracts-page__loading-message loading-message"
            role="progressbar"
        >
            {{ svg "icon-spinner" "loading-message__spinner icon--inline" }}
            {{ i18n "Loading…" }}
        </p>
    </div>
{{ end }}
