<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

<div
    class="modal"
    _="on closeModal add .modal--closing then wait for animationend then remove me"
>
    <div class="modal__underlay" _="on click trigger closeModal"></div>
    <div class="modal__content">
        <header class="modal__header">
            <h1 class="modal__header__title">{{ i18n "Contract" }}</h1>
            <button
                type="button"
                class="modal__header__close"
                _="on click trigger closeModal"
            >
                {{ svg "icon-close" "modal__header__close-icon" }}
            </button>
        </header>
        <div class="modal__body">
            <section class="contract-modal__section">
                <p class="contract-modal__section-header">
                    {{ svg "icon-contracts" "icon--inline" }}
                    {{ i18n "ID" }}
                </p>

                <p class="contract-modal__section-content">
                    {{ .ID }}
                </p>

                <p class="contract-modal__section-header">
                    {{ if .IsActive }}
                        {{ svg "icon-state-active" "icon--inline" }}
                        {{ i18n "State" }}
                    {{ else }}
                        {{ svg "icon-state-inactive" "icon--inline" }}
                        {{ i18n "State" }}
                    {{ end }}
                </p>

                <p class="contract-modal__section-content">
                    {{ i18n .State }}
                </p>

                <p class="contract-modal__section-header">
                    {{ svg "icon-code-s-slash-line" "icon--inline" }}
                    {{ i18n "Hash" }} ({{ .HashAlgorithm }})
                </p>

                <p class="contract-modal__section-content">
                    {{ .Hash }}
                </p>

                <p class="contract-modal__section-header">
                    {{ svg "icon-organization" "icon--inline" }}
                    {{ i18n "Group ID" }}
                </p>

                <p class="contract-modal__section-content">
                    {{ .GroupID }}
                </p>

                <p class="contract-modal__section-header">
                    {{ svg "icon-time-line" "icon--inline" }}
                    {{ i18n "Created At" }}
                </p>

                <p class="contract-modal__section-content">
                    {{ .CreatedAt }}
                </p>

                <p class="contract-modal__section-header">
                    {{ svg "icon-time-line" "icon--inline" }}
                    {{ i18n "Validity" }}
                </p>

                <p class="contract-modal__section-content">
                    {{ i18n "Valid from" }}
                    {{ .ValidFrom }}
                    {{ i18n "until" }}
                    {{ .ValidUntil }}
                </p>

                <p class="contract-modal__section-header">
                    {{ svg "icon-information-line" "icon--inline" }}
                    {{ i18n "Grants" }}
                </p>

                <div class="contract-modal__section-content">
                    {{ range $grant := .PeerRegistrationGrants }}
                        <div class="contract-modal__grant">
                            <h3 class="contract-modal__grant__title">
                                {{ i18n "Peer Registration" }}
                            </h3>

                            <p>
                                <small>{{ i18n "Grant Hash" }}</small><br />
                                {{ $grant.Hash }}
                            </p>

                            <p>
                                <small>{{ i18n "Directory Peer ID" }}</small
                                ><br />
                                {{ $grant.DirectoryPeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Peer ID" }}</small><br />
                                {{ $grant.PeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Peer Name" }}</small><br />
                                {{ $grant.PeerName }}
                            </p>
                        </div>
                    {{ end }}

                    {{ range $grant := .ServicePublicationGrants }}
                        <div class="contract-modal__grant">
                            <h3 class="contract-modal__grant__title">
                                {{ i18n "Service Publication Grant" }}
                            </h3>

                            <p>
                                <small>{{ i18n "Grant Hash" }}</small><br />
                                {{ $grant.Hash }}
                            </p>

                            <p>
                                <small>{{ i18n "Directory Peer ID" }}</small
                                ><br />
                                {{ $grant.DirectoryPeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Peer ID" }}</small
                                ><br />
                                {{ $grant.ServicePeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Name" }}</small><br />
                                {{ $grant.ServiceName }}
                            </p>
                        </div>
                    {{ end }}

                    {{ range $grant := .ServiceConnectionGrants }}
                        <div class="contract-modal__grant">
                            <h3 class="contract-modal__grant__title">
                                {{ i18n "Service Connection Grant" }}
                            </h3>

                            <p>
                                <small>{{ i18n "Grant Hash" }}</small><br />
                                {{ $grant.Hash }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Peer ID" }}</small
                                ><br />
                                {{ $grant.ServicePeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Name" }}</small><br />
                                {{ $grant.ServiceName }}
                            </p>

                            <p>
                                <small>{{ i18n "Outway Peer ID" }}</small><br />
                                {{ $grant.OutwayPeerID }}
                            </p>

                            <p>
                                <small
                                    >{{ i18n "Outway Certificate Thumbprint" }}</small
                                ><br />
                                {{ $grant.OutwayCertificateThumbprint }}
                            </p>
                        </div>
                    {{ end }}

                    {{ range $grant := .DelegatedServiceConnectionGrants }}
                        <div class="contract-modal__grant">
                            <h3 class="contract-modal__grant__title">
                                {{ i18n "Delegated Service Connection Grant" }}
                            </h3>

                            <p>
                                <small>{{ i18n "Grant Hash" }}</small><br />
                                {{ $grant.Hash }}
                            </p>

                            <p>
                                <small>{{ i18n "Delegator Peer ID" }}</small
                                ><br />
                                {{ $grant.DelegatorPeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Outway Peer ID" }}</small><br />
                                {{ $grant.OutwayPeerID }}
                            </p>

                            <p>
                                <small
                                    >{{ i18n "Outway Certificate Thumbprint" }}</small
                                ><br />
                                {{ $grant.OutwayCertificateThumbprint }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Peer ID" }}</small
                                ><br />
                                {{ $grant.ServicePeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Name" }}</small><br />
                                {{ $grant.ServiceName }}
                            </p>
                        </div>
                    {{ end }}

                    {{ range $grant := .DelegatedServicePublicationGrants }}
                        <div class="contract-modal__grant">
                            <h3 class="contract-modal__grant__title">
                                {{ i18n "Delegated Service Publication Grant" }}
                            </h3>

                            <p>
                                <small>{{ i18n "Grant Hash" }}</small><br />
                                {{ $grant.Hash }}
                            </p>

                            <p>
                                <small>{{ i18n "Directory Peer ID" }}</small
                                ><br />
                                {{ $grant.DirectoryPeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Delegator Peer ID" }}</small
                                ><br />
                                {{ $grant.DelegatorPeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Peer ID" }}</small
                                ><br />
                                {{ $grant.ServicePeerID }}
                            </p>

                            <p>
                                <small>{{ i18n "Service Name" }}</small><br />
                                {{ $grant.ServiceName }}
                            </p>
                        </div>
                    {{ end }}
                </div>

                <p class="contract-modal__section-header">
                    {{ svg "icon-pen-nib-line" "icon--inline" }}
                    {{ i18n "Signatures" }}
                </p>

                <div class="contract-modal__section-content">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    {{ svg "icon-close-fill" "icon--inline" }}
                                    {{ i18n "Rejected" }}
                                </th>
                                <th>
                                    {{ svg "icon-check-fill" "icon--inline" }}
                                    {{ i18n "Accepted" }}
                                </th>
                                <th>
                                    {{ svg "icon-arrow-go-back-fill" "icon--inline" }}
                                    {{ i18n "Revoked" }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .Organizations }}
                                <tr>
                                    <td>
                                        {{ .Name }}<br />
                                        <small>PeerID {{ .PeerID }}</small>
                                    </td>
                                    <td>{{ .RejectSignatureSignedAt }}</td>
                                    <td>{{ .AcceptSignatureSignedAt }}</td>
                                    <td>{{ .RevokeSignatureSignedAt }}</td>
                                </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </section>

            <form
                class="modal__footer"
                action="/contracts/sign"
                hx-post="/contracts/sign"
                hx-target=".modal"
                hx-swap="outerHTML"
                method="post"
                autocomplete="off"
            >
                <input type="hidden" name="contentHash" value="{{ .Hash }}" />

                <button
                    type="submit"
                    class="button--primary"
                    name="action"
                    value="reject"
                    {{ if .DisableRejectButton }}disabled{{ end }}
                >
                    {{ i18n "Reject" }}
                </button>

                <button
                    type="submit"
                    class="button--primary"
                    name="action"
                    value="accept"
                    {{ if .DisableAcceptButton }}disabled{{ end }}
                >
                    {{ i18n "Accept" }}
                </button>

                <button
                    type="submit"
                    class="button--primary"
                    name="action"
                    value="revoke"
                    {{ if .DisableRevokeButton }}disabled{{ end }}
                >
                    {{ i18n "Revoke" }}
                </button>
            </form>
        </div>
    </div>
</div>
