<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

{{ define "content" }}

    <div class="directory-page">
        <div class="directory-page__actions-bar">
            <div class="directory-page__actions-bar__service-count">
                <span class="directory-page__actions-bar__service-count__amount"
                    >{{ .AmountOfServices }}</span
                >
                <small>{{ i18n "Directory services" }}</small>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th class="directory-page__peer-column">
                        {{ i18n "Peer" }}
                    </th>
                    <th>{{ i18n "Name" }}</th>
                    <th>{{ i18n "Provided by" }}</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Services }}
                    <tr>
                        <td>
                            {{ .PeerName }}<br />
                            <small>Peer ID {{ .PeerID }}</small>
                        </td>
                        <td>{{ .Name }}</td>
                        <td>
                            {{ if .IsDelegated }}
                                {{ .ProviderName }}<br />
                                <small>Peer ID {{ .ProviderID }}</small>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}
