/**
 * Copyright © VNG Realisatie 2023
 * Licensed under the EUPL
 */

@use "../theme";

.contract-modal {
    &__section-header {
        margin-bottom: theme.$spacing02;
        color: theme.$colorPaletteGray400;
        padding-left: 0;
    }

    &__section-content {
        margin-left: theme.$spacing07;
        margin-bottom: theme.$spacing05;
    }

    &__grant {
        background-color: #44494F;
        padding: 1rem;
        border-radius: .5rem;
        margin-bottom: 1rem;

        &__title {
            margin: 0 0 1rem 0;
        }
    }
}
