/**
 * Copyright © VNG Realisatie 2023
 * Licensed under the EUPL
 */

@use "../theme";

.transaction-logs-page {
    &__actions-bar {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: theme.$spacing07;
    }

    &__loading-message {
        display: none;
    }

    &__no-results {
        color: theme.$colorTextLabel;
        font-size: theme.$fontSizeSmall;
        margin-bottom: 0;
        text-align: center;
        height: calc(100vh - 20rem);
        line-height: calc(100vh - 20rem);
    }

    &.htmx-request {
        .transaction-logs-page__loaded-content {
            display: none;
        }
        .transaction-logs-page__loading-message {
            display: flex;
        }
    }
}
